.main-layout {
  height: 100vh;

  /* overflow: hidden; */
}
.content{
  padding: 10px;
  overflow-y: auto;
  background-color: #EEF2F6;
  /* background: linear-gradient(
    to bottom,
    rgba(150, 150, 255, 0.856) 30%,
    rgba(150, 150, 255, 0.856) 20%,
    #EEF2F6 50%,
    #EEF2F6 100%
  ) !important; */
}
.header {
  /* background-color: #fff !important; */
  /* background-color: #f5f5f5 !important; */
  padding-left: 10px;
  padding-right: 10px;
  /* box-shadow: 1px 1px 2px lightgrey; */
}
.sidebar {
  overflow: auto;
  /* position: fixed;
  left: 0;
  top: 0;
  bottom: 0; */
}
.header-icon {
  font-size: 18px;
}
.logo-container {
 /* background-color:#e6f4ff; */
 /* border-bottom: 1px solid lightgrey; */
 /* box-shadow: 2px 2px 1px 1px #4096ff inset,-0px -2px 1px 1px #4096ff inset; */
}
.logo {
  height: 40px;
  width: 50px;
  border-radius: 5px;
  /* border: 3px solid #6aabfbae; */
  border: 3px solid #4096ff;
  padding: 1px !important;
}
.logo img{
  height: 100%;
  width: 100%;
  border-radius: 1.5px;
}
.logo-container{
  padding: 12px;
}
.column {
  text-align: center;
}
.menu {
  border: none !important;
}

/* 
.ant-menu-submenu-popup{
 background-color: red !important;

}

.ant-menu-submenu-placement-rightTop{
  background-color: yellow !important;

} */

.loading_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  font-size: 30px;
}
/* form css start */
.form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.form_field_group {
  position: relative;
}

.form_field_container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-right: 10px;
}

.form_field_start_icon {
  padding: 0px 5px;
  line-height: 1;
}
.form_field_input {
  width: 100%;
  outline: none;
  padding: 8px 5px;
  border: none;
  border-radius: 5px;
}

/* form css end */

.label {
  font-size: 16px !important;
  font-weight: normal !important;
}
.modal-icon {
  font-size: 50px;
}

.steric {
  position: absolute;
  top: 0;
  margin-left: 2px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  content: "*";
}

/* .steric {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
} */

/* ant desing classes and design overwrite*/

.ant-form-item-label {
  padding: 0 0 2px !important;
}
.ant-form-item-custom-style {
  margin-bottom: 5px !important;
}
/* .ant-menu-item-icon{
  color: #28a745 !important;
} */
.ant-menu-item-selected {
  /* background-color: #4096ff !important; */
  background-color: #e6f4ff !important;
  /* color: white !important; */
  /* color: white !important; */
}
.ant-menu-submenu-selected * {
  /* background-color: #4096ff !important; */
  background-color: #e6f4ff !important;
  /* color: white !important; */
  /* color: white !important; */
}

.login-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

/* .bg-theme, .bg-theme * {
  background-color: #4096ff !important;
  color: white !important;
} */

.bg-theme{
  background-color: #4096ff !important;
}
/* utilites*/
.white{
  color: white !important;
}
.bold{
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.h-10 {
  height: 10px;
}
.h-20 {
  height: 20px;
}
.h-30 {
  height: 30px;
}
.h-40 {
  height: 40px;
}
.h-50 {
  height: 50px;
}
.h-100p {
  height: 100% !important;
  background: black;
}
.h-100 {
  height: 100vh !important;
}
.h-contain {
  height: max-content;
}
.bg-color {
  background-color: #ff4d4f;
}

.align-center {
  align-items: center;
}
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

/* .steric {
    color: red;
    font-weight: bold;
} */

/* font sizes*/


.font-14{
  font-size: 14px;
}

.font-16{
  font-size: 16px;
}

.font-18{
  font-size: 18px;
}

.font-20{
  font-size: 20px;
}
.font-22{
  font-size: 22px;
}
.font-24{
  font-size: 24px;
}
.font-26{
  font-size: 26px;
}
.font-28{
  font-size: 28px;
}
.font-30{
  font-size: 30px;
}
.font-32{
  font-size: 32px;
}
.font-34{
  font-size: 34px;
}

/* colors */
.warning {
  color: orange;
}
.confirmation {
  color: orange;
}
.success {
  color: green;
}

.error {
  color: red;
}

.info {
  color: blue;
}

.primary {
  background-color: blue !important;
}

/* bg-colors */

.bg-white {
  background-color: white;
}

/* Width utility classes */

.w-80 {
  width: 80%;
}

/* Margin utility classes */
.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 2.5rem;
}
.mt-7 {
  margin-top: 3rem;
}

.mt-8 {
  margin-top: 3.5rem;
}

.mt-9 {
  margin-top: 4rem;
}
.mt-10 {
  margin-top: 4.5rem;
}
.mb-auto{
  margin-bottom: auto !important;
}
.mt-auto{
  margin-top: auto !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-6 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-7 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-8 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.my-9 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-10 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

/* Padding utility classes */
.p-0 {
  padding: 0px !important;
}
.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 2rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-6 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-7 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-8 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-9 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-10 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-6 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-7 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-8 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-9 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-10 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 2rem;
}

.pt-6 {
  padding-top: 2.5rem;
}

.pt-7 {
  padding-top: 3rem;
}

.pt-8 {
  padding-top: 3.5rem;
}

.pt-9 {
  padding-top: 4rem;
}

.pt-10 {
  padding-top: 4.5rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

.pb-6 {
  padding-bottom: 2.5rem;
}

.pb-7 {
  padding-bottom: 3rem;
}

.pb-8 {
  padding-bottom: 3.5rem;
}

.pb-9 {
  padding-bottom: 4rem;
}

.pb-10 {
  padding-bottom: 4.5rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}
.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 2rem;
}

.pr-6 {
  padding-right: 2.5rem;
}

.pr-7 {
  padding-right: 3rem;
}

.pr-8 {
  padding-right: 3.5rem;
}

.pr-9 {
  padding-right: 4rem;
}

.pr-10 {
  padding-right: 4.5rem;
}

/* Color utility classes */
.text-primary {
  color: #007bff;
}

.bg-primary {
  background-color: #007bff;
}

.text-secondary {
  color: #6c757d;
}

.bg-secondary {
  background-color: #6c757d;
}

.text-success {
  color: #28a745;
}

.bg-success {
  background-color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.bg-danger {
  background-color: #dc3545;
}

.text-warning {
  color: #ffc107;
}

.bg-warning {
  background-color: #ffc107;
}

.text-info {
  color: #17a2b8;
}

.bg-info {
  background-color: #17a2b8;
}

/* box shadow */

.shadow-1 {
  box-shadow: 1px 1px 2px lightgrey, -1px -1px 3px lightgrey;
}
.shadow-2 {
  box-shadow: 2px 2px 2px lightgrey, -2px -2px 3px lightgrey;
}
.shadow-3 {
  box-shadow: 3px 3px 6px lightgrey, -3px -3px 6px lightgrey;
}

/* border radius */

.radius-1 {
  border-radius: 5px;
}
.radius-2 {
  border-radius: 10px;
}
.radius-3 {
  border-radius: 15px;
}
.radius-4 {
  border-radius: 20px;
}
.radius-5 {
  border-radius: 25px;
}
.radius-6 {
  border-radius: 30px;
}

/* line height*/

.line-h-0 {
  line-height: 0 !important;
}

.line-h-half {
  line-height: 0.5 !important;
}

.line-h-1 {
  line-height: 1;
}

.line-h-2 {
  line-height: 2;
}

.line-h-3 {
  line-height: 3;
}

.line-h-4 {
  line-height: 4;
}

.line-h-5 {
  line-height: 5;
}

/* font css*/
.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

/* Flexbox utility classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center !important;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

/* Text utility classes */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

/* Border utility classes */
.border {
  border: 1px solid #dee2e6;
}

.border-rounded {
  border-radius: 0.25rem;
}

.border-none {
  border: none;
}

/* Display utility classes */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Overflow utility classes */
.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

/* Cursor utility classes */
.cursor-pointer {
  cursor: pointer;
}

/* Position utility classes */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

/* Width and height utility classes */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.max-h-100 {
  max-height: 100%;
}

/* Flex utility classes */
.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-basis-auto {
  flex-basis: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
